@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    li {
        @apply p-4
       
    }
    button {
        @apply text-white border bg-orange-500  rounded
        hover:bg-transparent
        transition-colors border-orange-700 font-bold
        
    }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace}